/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
  ========================================
  Custom styles
  ========================================
*/

body {
  height: 100%;
  position: relative;
  background: url("../images/background.jpg");
  background-size: cover;
  font-family: 'Amatic SC', cursive;
}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*
  ========================================
  Header
  ========================================
*/

.primary-header{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.header{
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
}


.main-nav {
  width: 100%;
  position: sticky;
  top: 0;
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.main-nav li{
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px
}

/*
  ========================================
  Footer
  ========================================
*/

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}


.footer-ul {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-ul li {
  margin: 0 4px;
}

.footer-text {
  margin-left: 10px;
}


/*
  ========================================
  Hero
  ========================================
*/

.hero-container{
margin-bottom: 30px;
}

.main-row{
  display: flex;
  height: 550px;
  width: 100%;
  margin-right: 60px;
  overflow: hidden;
}

.hero-box-title{
  color: white;
}

.hero-box  {
  display: flex;
  width:33.33%;
  transition: all 1s ease;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  filter: brightness(80%);
  filter: contrast(100%);
  }

.cities-anchor {
  background:
  url(http://i.imgur.com/uSTHZf7.gif) no-repeat;
  background-position: top 0 right -300px;
}

.culture-anchor {
  background:
  url(https://az616578.vo.msecnd.net/files/2017/04/30/636291767341952072572440956_tumblr_npi1ehTQc61to29u9o1_500.gif) no-repeat;
  background-position: top 0 right -150px;
}

.nature-anchor{
  background:
  url(https://68.media.tumblr.com/5da50c0deb0fd1597271e110a3d5f178/tumblr_ou2jrcU9fR1upvbufo1_540.gif) no-repeat;
  background-position: top 0  right -150px;
}


.hero-anchors {
  display: flex;
  justify-content: center;
  width: 100%;
  background-size: cover;
}

.hero-box:hover{
  cursor: pointer;
  filter: brightness(120%);
  filter: contrast(110%);
  width: 1100px;
}

/*
  ========================================
  Secondary Page Content
  ========================================
*/

.secondary-content{
  height: 700px;
  margin-bottom: 20px;
}
