/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: url("../images/background.jpg");
  background-size: cover;

  height: 3000px;

  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: antialiased

}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}




/*
  ========================================
  Header
  ========================================
*/


header {
  height: 200px;
}

.header{
position: fixed;
padding-top:40px;
text-align: center;
vertical-align: center;
position: relative;
font-family: 'Amatic SC', cursive;
font-size: 56px;
}


header a{
  color: black;
}

.main-nav {
width: 100%;
position: fixed;
padding-top: 5px;
display: flex;
justify-content: flex-end;

}

.main-nav li{
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px
}

/*
  ========================================
  Footer
  ========================================
*/



footer{
  position:absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}


  .footer-ul {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }


  .footer-ul li {
    margin: 0 4px;

  }

  .footer-text {
    margin-left: 10px;
  }
